/* .products {
    padding: 10px;
  }
  
  .h2 {
  margin: 1rem 0; 
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  color: #2c3e50;
  }

  .product-carousel {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding-bottom: 10px;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin; 
  }
  
  .product-carousel::-webkit-scrollbar {
    height: 8px;
  }
  
  .product-carousel::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .product-card {
    width: 180px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    scroll-snap-align: start;
  }
  
  .product-card:hover {
    transform: translateY(-4px);
  }

  .product-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
   */




.products {
  padding: 10px;
}

.product-title {
  text-align: center;
  margin: 10px 0;
  font-size: 2rem;
  font-weight: 700;
  color: #2a2a2a;
}

.product-carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 12px;
  padding: 10px 0;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
}
.product-carousel::-webkit-scrollbar {
  background-color: #888;
  border-radius: 4px;
}

.product-card {
  flex: 0 0 auto;
  width: 120px;
  background: #fff;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  scroll-snap-align: start;
}

.product-card:hover {
  transform: translateY(-4px);
}

.product-card img {
  width: 120px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}
.product-card h4 {
  font-size: 0.9rem;
  margin-top: 6px;
}
  